/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}

/* Navbar */
header {
  background: #0a3d62;
  padding: 1rem 2rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo { color: #fff; font-size: 1.5rem; }
.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.nav-links li a:hover { color: #4646d7; }

/* HERO */
.hero {
  background: url("Imagenes/imagen\ principal.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 5rem 2rem;
  position: relative;
}


.hero-content {
  background: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 2rem;
  border-radius: 10px;
}
.hero h2 { font-size: 2.5rem; margin-bottom: 1rem; }
.hero p { margin-bottom: 1.5rem; }
.btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background: #4c50bd;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.btn:hover { background: #7784e2; }

/* Secciones */
section { padding: 3rem 2rem; text-align: center; }
.mision, .vision {
  background: #dff9fb;
  margin: 2rem auto;
  max-width: 900px;
  border-radius: 10px;
  padding: 2rem;
}

/* GALERÍA */
.galeria { background: #eaf2f8; }
.carousel {
  position: relative;
  max-width: 900px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.carousel-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}
.slide { min-width: 100%; }
.slide img { width: 100%; display: block; border-radius: 10px; }
/* Flechas */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: color 0.3s;
}
.carousel-btn:hover { color: #7e74d2; }
.prev { left: 15px; }
.next { right: 15px; }
/* Puntos */
.carousel-dots { text-align: center; margin-top: 15px; }
.carousel-dots button {
  background: #bbb;
  border: none;
  width: 12px; height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.carousel-dots button.active { background: #0a3d62; }

/* Footer */
footer {
  background: #0a3d62;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
